/*webpage styling starts here*/
a {
  text-decoration: none;
	font-size: 15px;
	font-style: normal;
}
header {
  height: 75px;
  background: white;
}

header div {
  width: 960px;
  margin: 0 auto;
}
.logoimage {
	float: left;
	margin-top: 12px;
	width: 15px;
}
.socialicons {
	position: absolute;
	text-align: right;
	margin-top: 30px;
}

.socialicons img:nth-child(7) {
  margin-left: 8px;
}

h1 {
	float: left;
	font-family: Brush Script MT,cursive;
	font-size: 45px;
  margin-left: 35px;
	margin-top: 0px;
}
nav p {
	float: left;
	position: absolute;
	font-family: 'Agency FB';
	margin-left: 45px;
	margin-top: 40px;
	font-size: 15px;
}
.divider {
	height: 12px;
	color: #0F0901;
	background-color: none;
	margin-bottom: 40px;
}

body {
  width: 960px;
  margin: 0px auto;
	border: dotted 1px green;
	text-decoration: none;
}
h2 {
	float: left;
	position: absolute;
	font-family: fantasy;
	font-size: 45px;
	margin-top: 0px;

}
h3 {
	float: left;
	position: absolute;
  font-size: 15px;
	font-family: 'Agency FB';
	margin-left: 0px;
	margin-top: 45px;
	opacity: 0.6;
}

.printicon {
	text-align: right;
	color: gray;
	padding-top: 45px;

}
.pizza {
	margin-top: 25px;
}
article {
	text-align: inherit;
	line-height: 26px;
	margin: 15px;
}
article p {
	text-indent: +2em;
	padding: 10px;
}


.recipe-list {
	float: left;
	z-index: 1;
	list-style: none;
	border: dotted 1px black;
}

.list1 {
	list-style: none;
	float: left;
	position: absolute;
	text-decoration: none;
	border: dotted 1px black;
	width: 60px;
	z-index: 2

}

.list2 {
	float: right;
	position: relative;
	text-decoration: none;
	border: dotted 1px black;
}
